<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header set Set-Cookie HttpOnly;Secure
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set Strict-Transport-Security "max-age=15768000" env=HTTPS
    Header always set X-Xss-Protection "1; mode=block"
    Header always set Content-Security-Policy "default-src 'self' *.fbcdn.net; script-src 'self' *.google-analytics.com *.googletagmanager.com 'unsafe-hashes' 'sha256-RuxzUSU70Vk5VtOs7mVgKOMJWhhykf/Htfa+oF2CSvE='; style-src 'self' *.googleapis.com 'unsafe-inline' 'unsafe-hashes'; font-src 'self' *.googleapis.com *.gstatic.com; img-src 'self' *.google-analytics.com; frame-src 'none'"
</IfModule>
